<div class="modal-header">
    <h4 class="modal-title" id="modalLabel">Usuário</h4>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body text-center">
    <div>
        <p>Nome: {{ usuario.nome }} </p>
        <p>Login: {{ usuario.login }}</p>
        <p>Perfil: {{ usuario.perfil }} </p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Fechar</button>
</div>