<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand">{{ title }}</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['pessoas']">Pessoas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['enderecos']">Endereços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cidades']">Cidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['estados']">Estados</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Cadastros </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem [routerLink]="['/pessoas']">Pessoas</a>
            <a ngbDropdownItem [routerLink]="['/enderecos']">Endereços</a>
            <a ngbDropdownItem [routerLink]="['/cidades']">Cidades</a>
            <a ngbDropdownItem [routerLink]="['/estados']">Estados</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>